@import url(https://fonts.googleapis.com/css?family=Rubik);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
header.pc .inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 80px;
  padding: 0 10px 0 20px;
}
@media (max-width: 37.5em) {
  header.pc .inner {
    height: 40px;
  }
}
header.pc .inner h1 a {
  display: block;
  background: url("header_logo.png") top left no-repeat;
  width: 159px;
  height: 51px;
  text-indent: -9999px;
}
@media (max-width: 37.5em) {
  header.pc .inner h1 a {
    background-size: contain;
    width: 81px;
    height: 25px;
  }
body
{
 
  display: table;
  margin: 0 auto;
  float: none;
  postion: relative;
  height: 0;
  width: 100%;
  background: #000;
  background-image: url("space.jpg");
  background-size: 1024px 768px;
  color: white;
}
p
{
  display: flex;
  justify-content: center;
  font-size: 4em;
  font-family: 'Rubik',sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  background: linear-gradient(90deg,#000,#fff,#000);
  animation: animate 3s linear infinite;
  background-repeat: no-repeat;
  background-size: 85%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p2
{
  display: flex;
  justify-content: center;
  font-family: 'Titillium Web',serif;
}
@keyframes animate
{
  0%
  {
    background-position: -900%;
  }
  100%
  {
    background-position: 900%;
    
  }
}
